<form method="post">
    <div class="card">
        <div class="card-body p-2">
            <div class="card-title">
                @Model.Title
            </div>
            <a href="/tasks/@Model.Id" class="btn btn-primary btn-sm ">View</a>
            @if (Model.Status == ETaskStatus.ToDo)
            {
                <button type="submit" class="btn btn-warning btn-sm" href="@Model.Id" asp-page-handler="StartTask" asp-route-itemid="@Model.Id" >Start</button>  
            }
            @if (Model.Status == ETaskStatus.Doing)
            {
                <button type="submit" class="btn btn-success btn-sm" href="@Model.Id" asp-page-handler="EndTask" asp-route-itemid="@Model.Id" >Finish</button>  
            }
        </div>
    </div>
</form>